@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
}

#main-wrapper {
    margin-top: 92px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-container {
    margin: 60px auto;
    max-width: 90%;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    padding: 1em;
}