@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

html, body {
    margin: 0;
}

#main-wrapper {
    margin-top: 92px;
}

.main-container {
    margin: 60px auto;
    max-width: 90%;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    padding: 1em;
}